<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

</head>
<body>
    <header>
        <div class="flex p-4 justify-center md:justify-start bg-indigo-400">
            <div
                class="transition duration-500 ease-in border-b-4 border-transparent hover:border-b-4 transform hover:border-white focus:border-b-4 focus:border-white active:border-b-4 active:border-white">
                <a href="/s.url">
                    <p class='text-3xl text-white font-bold px-2'>URL Shortener</p>
                </a>
            </div>
        
        </div>
    </header>
    <main>
        <div class="flex justify-center m-4 p-4">
            <p class="text-4xl text-red-900 font-bold">
                URL Shortening Unsuccessful.
            </p>
            
        </div>
        
    </main>
    <footer>

    </footer>
</body>
</html>